<h1> <%= @list.name %> </h1>
<% @list.bookmarks.each do |bookmark| %>
<p> <%= bookmark.movie.title %>
<%=link_to 'delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Release? Really? ⚠️' }%> </p>
<% end %>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
